/*
Container: Es un contenedor donde se almacenan los elementos

Item: Son los elementos que estan en el contenedor y se convierten en Grid Item pueden ser (botones,links,imagenes y videos)

Lineas : Son los elementos que dividen las filas y columnas de una Grilla

Celda: Es la unidad minima que tenemos en una Grilla, esta delimitada por 4 lineas. Ocupa 1 columna, 1 Fila

Track: Los track son un grupo de celdas que estan en una misma fila o una misma columna

Area: Pueden usar varias filas o varias columnas al mismo tiempo
*/
.container{
    border: 5px solid #d87070;
    background-color: #cbb2b2;
    display: grid;
    grid-template-columns: auto auto auto;/*this way i create how many columns a need*/
    grid-auto-rows: 200px;
}
.container-2{
    border: 5px solid #d87070;
    background-color: #cbb2b2;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-columns: 200px;
    grid-auto-flow: column;/* change the style of grid */
    /*column-gap: 20px;*/
    gap:40px
}
.item{
    border: 5px solid red;
    font-size: 4rem;
}